<div class="card">
  <div class="card-header">
    <h4><%= t (".editar") %> <% resource_name.to_s.humanize %></h4>
  </div>
  <div class="card-body">
    

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label (t (".email")) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:(t ('.email')) %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label (t ('.contrasena')) %> <i> <%= t ('.mensaje1') %> </i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:(t ('.nuevacontra')) %>
    <% if @minimum_password_length %>
      
      <em><%= @minimum_password_length %> <%= t ('.mensaje2') %></em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label (t ('.confirmcontra')) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:(t ('.confirmcontra')) %>
  </div>

  <div class="field form-group">
    <%= f.label (t ('.actualcontra')) %> <i><%= t ('.mensaje3') %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:(t ('.actualcontra')) %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit (t ('.actualizar')), class:'btn btn-secondary' %>
  </div>
<% end %>
  </div>
</div>

<br/>

<%= link_to (t ('.volver')), :back, class:"btn btn-outline-primary" %>
