<h1>Usuarios</h1>
<br>
<table class="table table-striped table-bordered table-hover">
<thead class="thead-dark">
<tr>
<th>Email</th>
<th>Nombre</th>
<th>Apellido</th>
<th>Rol</th>
<th colspan="2"></th>
</tr>
</thead>
<tbody>
  <% if current_user.admin == true || current_user.is_biblio? %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.role %></td>
        <td><%= link_to "Ver", user, class:'btn btn-outline-primary' %></td> 
        <td><%= link_to "Borrar", user, class:'btn btn-outline-danger', method: :delete, data: { confirm: "Are you sure"} %></td> 
      </tr>
    <% end %>
  
   
  <% end %>
</tbody>
</table>
<br>
 <%= link_to "create new user", new_user_path, class:'btn btn-secondary' %><br>