
<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.role %>
</p>

 
<%= link_to 'Volver', users_path, class:"btn btn-outline-primary" %> 
