<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #613562;">
  <%= link_to (t (".biblioteca")) , root_path, class:"navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    
      <% if user_signed_in? %>

         
        <li class="nav-item">
        <%= link_to (t (".contacto")), home_about_path, class:"nav-link" %>
        </li> 
                    
        <li class="nav-item">
        <%= link_to (t (".prestamos")), loans_path, class:"nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to (t (".editarperfil")), edit_user_registration_path, class:"nav-link" %>
        </li>
  
        <% if current_user.authorized? %>
          <li class="nav-item">
            <%= link_to (t (".usuarios")), users_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to (t (".agregarlibro")), new_book_path, class:"nav-link" %>
          </li>
        <% end %>
    
        <li class="nav-item">
        <%= link_to (t (".salir")), destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>

       
      
      <% else %>
        
      <li class="nav-item">
        <%= link_to (t (".contacto")), home_about_path, class:"nav-link" %>
      </li>     
     
        <li class="nav-item">
          <%= link_to (t (".login")), new_user_session_path, class:"nav-link" %>
        </li>

      <% end %>

      
      
    </ul>
    
  </div>
</nav>
