

<h1>Libros</h1>

<br>


<table class="table table-striped table-bordered table-hover">
<thead class="thead-dark">
<tr>
<th>ID Libro</th>
<th>Titulo</th>
<th>Autor</th>
<th>ISBN</th>
<th>Editorial</th>
<th>Publicado en</th>
<% if current_user.present? && current_user.authorized? %> 
  <th colspan="3"></th>
<% end %>
</tr>
</thead>
<tbody>
<% @books.each do |book| %>
  <tr>
  <td><%= book.id %></td>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.isbn %></td>
  <td><%= book.editorial %></td>
  <td><%= book.published_at %></td>

  <% if current_user.present? && current_user.authorized? %>      
        <td><%= link_to 'Ver', book, class:"btn btn-outline-primary" %></td>
        <td><%= link_to 'Editar', edit_book_path(book), class:"btn btn-outline-primary" %></td>
        <td><%= link_to 'Borrar', book, class:'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
      </tr>
<% end %>
</tbody>
</table>
<br>
<% if current_user.present? && (current_user.admin? || current_user.is_biblio?) %>
  <%= link_to 'Nuevo Libro', new_book_path, class:"btn btn-secondary" %>
<% end %>
<br>
<br>
<% if current_user %>
    <%= current_user.email %>
<% end %>