

<h1>Loans</h1>


<br>
<table class="table table-striped table-bordered table-hover">
<thead class="thead-dark">
<tr>
<th>ID Prestamo</th>
<th>Usuario</th>
<th>Libro</th>
<th>Fecha de Inicio</th>
<th>Fecha de Finalizacion</th>
<th>Estado</th>

<th colspan="3"></th>
</tr>
</thead>
<tbody>
<% if current_user.present? && current_user.authorized? %>
  <% @loans.each do |loan| %>
    <tr>
    
    <td><%= link_to loan.id, loan %></td>
    <td><%= user_email(loan) %></td>
    <td><%= link_to book_title(loan), book_path(loan.book_id) %></td>
    <td><%= loan.loan_start %></td>
    <td><%= loan.loan_finish %></td>
    <td><%= loan.state %></td>
    <td><%= link_to 'Ver', loan, class:"btn btn-outline-primary" %></td>
    <td><%= link_to 'Editar', edit_loan_path(loan), class:"btn btn-outline-primary" %></td>
    <td><%= link_to 'Borrar', loan, class:'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<%else%>
  <% @loans.each do |loan| %>
    <% if loan.user == current_user %>
      <tr>  
        <td><%= loan.id %></td>
        <td><%= user_email(loan) %></td>
        <td><%= link_to book_title(loan), book_path(loan.book_id) %></td>
        <td><%= loan.loan_start %></td>
        <td><%= loan.loan_finish %></td>
        <td><%= loan.state %></td>
        <td><%= link_to 'Ver', loan, class:"btn btn-outline-primary" %></td>
      </tr>
      <%end%>
    <%end%>
<%end%>
</tbody>
</table>


<%= link_to 'New Loan', new_loan_path, class:"btn btn-secondary" %>
